

.projets{
 
    margin: 0 1rem 1.5rem;
    
    padding-top: 1rem;
}

.list_projets{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.load{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 1rem 5rem 0;
}